<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcEzXTEDiLsFSKmb6EU4L376MdsZT7BaA</string>
	<key>GCM_SENDER_ID</key>
	<string>55126646446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petTrack</string>
	<key>PROJECT_ID</key>
	<string>pet-trackr-9626</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-trackr-9626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55126646446:ios:3da0764cd1c134e8a5573f</string>
</dict>
</plist>